* {
    box-sizing: border-box;
    font-family: arial;
    align-items: center;
    margin: auto;
    position: relative;


}

body {
    /* min-height: 100vh; */
    background: #07252d;

}



.table {
    position: relative;
    /* margin-top: 350px; */
    height: 780px;
    width: 780px;
    background-color: #0e3742;
    cursor: pointer;
    text-align: center;
    border: 300px;
    bottom: 100px;
    
    /* justify-content: center; */
    /* margin-bottom: 20%; */

    
}

/* tbody{
        color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
} */
td {
    /* background-image: linear-gradient(#24525e,#356e7c,#4bafc8); */
    border-radius: 10px;
    height: 40px;
    width: 40px;
    font-size: 40px;
    /* letter-spacing: 15px; */
    color: #0e3742;
    text-align: center;
    
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0008); */
    line-height: 0.70em;
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;

}
/* .flex-container{
    border: 20px solid #0e3742;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    border-radius: 20px;
} */


h2 {
    
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
    font-size: 6em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    top: 30px;
    box-sizing: border-box;
    font-family: arial;
    align-items: center;
    margin: auto;
    position: relative;
}

@keyframes animate {
    
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        box-shadow: none;
    }
    
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
        
        
    }
    
}

@keyframes animate1 {
    100% {
        color: #0e3742;
        box-shadow: none;
    }
    
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
        
        
    }
    
}

.timer1 {
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 35px;
    background-color: rgb(24, 82, 50);
    padding: 10px;
    border: 2px solid rgb(22, 122, 22);
    padding-bottom: 50px;
    /* letter-spacing: 15px; */
    color: #0e3742;
    align-items: center;
    text-transform: uppercase;
    /* text-align: center; */
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    /* line-height: 0.70em; */
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
    /* margin-top: px; */
    right: 300px;
    bottom: 50px;
    
}

.restart {
    height: 50px;
    width: 60px;
    border-radius: 35px;
    background-color: #0e3742;
    cursor: pointer;
    border: 2px solid #0f596d;
    font-size: 30px;
    top: 300px;
    text-align: center;
}

.levels {
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 35px;
    background-color: #0e3742;
    padding: 10px;
    border: 2px solid #24525e;
    padding-bottom: 50px;
    left: 300px;
    top: 20px;
    
}

.levels button {
    margin-left: 5px;
    padding: 10px;
    border-radius: 40px;
    height: 43px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    background-color: #215969;
    font-weight: bold;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
}

.livesContainer {
    position: relative;
    height: 50px;
    width: 90px;
    text-align: center;
    border-radius: 35px;
    background-color: #0e3742;
    padding: 10px;
    border: 2px solid #215969;
    padding-bottom: 50px;
    right: 140px;
    bottom: 110px;
    
    
    color: #0e3742;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
}

.makeBombs{
    position: relative;
    height: 80px;
    width: 130px;
    text-align: center;
    border-radius: 35px;
    background-color: #0e3742;
    padding: 10px;
    border: 2px solid #1d5362;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #0e3742;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
    cursor: pointer;
    right: 300px;
    bottom: 320px;

}
.safeContainer {
    position: relative;
    height: 80px;
    width: 130px;
    text-align: center;
    border-radius: 35px;
    background-color: #0e3742;
    padding: 10px;
    border: 2px solid #1d5362;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #0e3742;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
    cursor: pointer;
    left: 320;
    bottom: 140px;
}

.highScoreContainer {
    height: 100px;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    background-color: #0e3742;
    padding: 10px;
    border: 2px solid #1c4a56;
    padding-bottom: 50px;

    font-size: 20px;
    font-weight: bold;
    color: #0e3742;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
    bottom: 330px;
}

.highScore {
    /* position: relative; */

}
.undo{
      
    height: 80px;
    width: 130px;
    text-align: center;
    border-radius: 35px;
    background-color: #0e3742;
    padding: 10px;
    border: 2px solid #265663;
    padding-bottom: 50px;

    font-size: 20px;
    font-weight: bold;
    color: #0e3742;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
    cursor: pointer;
    left: 170px;
    bottom: 250px;
}

.hintsContainer {
    
    height: 80px;
    width: 130px;
    text-align: center;
    border-radius: 35px;
    background-color: #0e3742;
    padding: 10px;
    border: 2px solid #265663;
    padding-bottom: 50px;

    font-size: 20px;
    font-weight: bold;
    color: #0e3742;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate1 linear infinite;
    animation-fill-mode: forwards;
    cursor: pointer;
    left: 170px;
    bottom: 60px;
}
